@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}


html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Roboto';
    background-color: rgb(255, 255, 255);
}



/* =========medium devices */

@media screen and (max-width: 1024px)  {
    .container {
        width: var(--container-width-md);
    }

    section {
        margin-top: 6rem;
    }
}
/* =========small devices */
@media screen and (max-width: 600px)  {
    .container {
        width: var(--container-width-sm);
    }

    section > h2 {
        margin-bottom: 2rem;
    }
}

